accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
backoff
blis
catalogue
certifi
charset-normalizer
click
cloudpathlib
confection
conllu
cymem
Cython
datasets
dill
distro
evaluate
exceptiongroup
faiss-gpu
filelock
frozenlist
fsspec
h11
httpcore
httpx
huggingface-hub
idna
iniconfig
intervaltree
Jinja2
jiter
joblib
jsonschema
jsonschema-specifications
langcodes
language_data
leveldb
marisa-trie
markdown-it-py
MarkupSafe
mdurl
medspacy
medspacy_quickumls
medspacy_unqlite
mpmath
multidict
multiprocess
murmurhash
mysql-connector-python
networkx
nltk
nmslib
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
openai
packaging
pandas
peft
pillow
pluggy
preshed
propcache
psutil
pyarrow
pybind11
pydantic
pydantic_core
PyFastNER
Pygments
PyRuSH
pysbd
pysimstring
pytest
python-dateutil
pytz
PyYAML
quicksectx
quickumls
quickumls_simstring
referencing
regex
requests
rich
rpds-py
safetensors
scikit-learn
scipy
scispacy
sentencepiece
shellingham
six
smart-open
sniffio
sortedcontainers
spacy
spacy-legacy
spacy-loggers
srsly
sympy
thinc
threadpoolctl
tokenizers
tomli
torch
torchaudio
torchvision
tqdm
transformers
triton
trl
typer
typing_extensions
tzdata
Unidecode
unqlite
urllib3
wasabi
weasel
wrapt
xxhash
yarl
